<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "row">
      <div class = "col-3">
        <%= link_to root_path, class:'logo' do %>
          <div class="circle">
           <br />
              FUN FACTS
            <br />
              ABOUT
            <br />
              HOUSTON
            </div>
          <% end %>
      </div>

      <div class = "col-4 slogan">
        Giving out random facts about the City of Houston since 2018.
      </div>

      <div class = "col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>

    </header>
    
    <hr />

    <br class = "clear" />
  <div class = "container">
    <%= yield %>
  </div>

  <div class = "footer">
    <div class = "container">
      <div class = "row">
        <div class = "col-6">
          <%= link_to "This isn't enough, I need more", root_path, class: "next-quote" %>
        </div>
        <div class = "col-6 footer-blurb">
        Proundly built in Houston, TX by <a href = "http://kevinnguyen.getforge.io/"> Kevin Nguyen</a><br /> Want to follow my jouney to becoming a software engineer - <a href="https://medium.com/@kevinnguyen_26044">Follow my medium blog to see my milestones</a>

      </div>
    </div>
  </div>

  </body>
</html>
